<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>站内消息</title>
    <link rel="stylesheet" href="../static/assets/layui/css/layui.css">
    <script src="../static/assets/layui/layui.js" charset="utf-8"></script>
    <script src="../static/js/privateMessage.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="bar">
    <b style="text-decoration:underline;color:#01AAED" lay-event="del">删除</b>
</script>

</body>
</html>