<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>项目详情</title>
    <link rel="stylesheet" href="/assets/layui/css/layui.css">
    <link rel="stylesheet" href="/assets/style/admin.css">
    <link rel="stylesheet" href="/assets/style/login.css">
    <style type="text/css">
        .layui-disabled,.layui-disabled:hover {
            color: black !important;
            cursor: not-allowed !important
        }
        .layui-upload-img{width: 100px; height: 100px; margin: 0 10px 0 10px;}
    </style>
</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layadmin-user-login-main layui-card-body" style="padding: 15px;width: 40%;">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>项目详情</h2>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body">
                <form class="layui-form layui-form-pane" lay-filter="projectDetails">
                    <div class="layui-form-item">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="name" autocomplete="off" readonly class="layui-input"
                            th:value="${name}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">申报级别</label>
                        <div class="layui-input-block">
                            <select name="level" disabled>
                                <option value="0" th:selected="${level==0}">校级一类</option>
                                <option value="1" th:selected="${level==1}">校级二类</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">负责人</label>
                        <div class="layui-input-block">
                            <input type="text" name="leader" id="leader" autocomplete="off" class="layui-input" readonly
                            th:value="${leader.nick}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号码</label>
                        <div class="layui-input-block">
                            <input type="tel" name="phone" lay-required="phone" autocomplete="off" class="layui-input" readonly
                            th:value="${phone}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电子邮箱</label>
                        <div class="layui-input-block">
                            <input type="email" name="email" lay-required="email" autocomplete="off" class="layui-input" readonly
                            th:value="${email}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属专业</label>
                        <div class="layui-input-block">
                            <select name="major" disabled>
                                <option value="0" th:selected="${major==0}">计算机科学与技术</option>
                                <option value="1" th:selected="${major==1}">电子信息工程</option>
                                <option value="2" th:selected="${major==2}">电子信息科学与技术</option>
                                <option value="3" th:selected="${major==3}">数字媒体技术</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" id="member-box">
                        <label class="layui-form-label">项目成员</label>
                        <div class="layui-input-block">
                            <input type="text" name="members" lay-required autocomplete="off" class="layui-input" readonly
                            th:value="${members}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-upload">
                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                <p style="font-size: medium; margin-bottom: 15px">立项承诺书</p>
                                <div class="layui-upload-list" id="img-box" >
                                    <img th:each="url:${commitmentPics}" th:src="${url}" class="layui-upload-img" id="upload-img" style="padding: 2px">
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-row">
                            <div class="layui-col-xs10">
                                <label class="layui-form-label">申报书</label>
                                <div class="layui-input-block">
                                    <input type="text" id="filename" lay-required autocomplete="off" class="layui-input" disabled
                                    th:value="${filename}">
                                </div>
                            </div>
                            <div class="layui-col-xs2">
                                <div style="margin-left: 10px; float: right;">
                                    <a id="download" th:href="${filepath}"><input type="button" value="下载" class="layui-btn"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin" id="btnDiv" th:if="${!submit}">
                        <div class="layui-input-block">
                            <div class="layui-footer" style="left: 0;">
                                <button type="button" class="layui-btn" lay-submit lay-filter="submit">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="layui-bg-gray">
        <input id="stage" type="hidden" th:value="${stage}">
        <div class="layadmin-user-login-main layui-card-body" style="padding-bottom: 60px;width: 50%;" th:if="${state==3||state==4}">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>专家评审</h2>
            </div>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>专家</th>
                    <th>评分</th>
                    <th>评语</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr" th:each="review:${reviews}">
                    <td th:text="${review.expertName}"></td>
                    <td th:text="${review.score}"></td>
                    <td th:text="${review.remark}"></td>
                </tr>
                </tbody>
            </table>
            <div class="layadmin-user-login-box layadmin-user-login-header" style="padding: 5px" th:if="${#lists.isEmpty(reviews)}">
                <p>暂无数据</p>
            </div>
        </div>
        <div class="layadmin-user-login-main layui-card-body" style="padding-bottom: 60px;width: 60%;" th:if="${stage!=0}">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>项目文件</h2>
            </div>
            <div class="layui-upload">
                <div class="layui-upload-list">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>文件名</th>
                            <th>所属阶段</th>
                            <th>上传时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody" id="fileList">
                        <tr class="tr" th:each="file:${uploadFiles}">
                            <td th:text="${file.name}"></td>
                            <td th:text="${file.stage}"></td>
                            <td th:text="${file.uploadTime}"></td>
                            <td>已上传</td>
                            <td align="center"><a class="layui-btn layui-btn-xs" th:href="'/file/'+${file.id}">下载</a>
                                <button th:if="${state!=10&&user.id==leader.id}" class="layui-btn layui-btn-xs layui-btn-danger file-delete" th:id="${file.id}">删除</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layadmin-user-login-box layadmin-user-login-header" id="fileHint" th:if="${#lists.isEmpty(uploadFiles)}">
                    <p>暂无数据</p>
                </div>
                <button th:if="${state!=10&&user.id==leader.id}" type="button" class="layui-btn layui-btn-normal" style="float: right" id="upload-file">上传文件</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/layui/layui.js"></script>
<script src="/js/time.js"></script>
<script type="text/javascript">
    layui.use(['form','layer','jquery','upload'],function(){
        var form=layui.form;
        var layer=layui.layer;
        var upload=layui.upload;
        var $=layui.$;
        layer.photos({
            photos:'#img-box',
            anim:5
        });
        form.on('submit(submit)',function(data){
            var project={
                id:window.location.href.split("/")[5],
                submit:true,
                state:0
            };
            $.ajax({
                type:'post',
                url:'/project/save',
                data:JSON.stringify(project),
                dataType:'json',
                contentType:'application/json',
                success:function(res){
                    if (res.statusCode==='200'){
                        $('#btnDiv').remove();
                        layer.msg('提交成功');
                    }
                }
            })
        });

        var stage=$("#stage").val();
        var stageStr;
        if (stage==="1")
            stageStr="中期检查";
        else if (stage==="2")
            stageStr="结题验收";

        var fileListView = $('#fileList')
            ,uploadListIns = upload.render({
            elem: '#upload-file'
            ,url: '/file/upload'
            ,accept: 'file'
            ,multiple: true
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var time=new Date().Format("yyyy-MM-dd HH:mm:ss");
                    var tr = $(['<tr class="tr" id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+stageStr+'</td>'
                        ,'<td>'+ time+'</td>'
                        ,'<td>正在上传</td>'
                        ,'<td align="center">'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger file-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.file-delete').on('click', function(){

                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    $('#fileHint').attr('style','display:none');

                    fileListView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                if(res.statusCode === '200'){ //上传成功
                    var url;
                    if (stage==='1')
                        url='/project/mid/uploadFile';
                    else if (stage==='2')
                        url='/project/final/uploadFile';

                    $.get(url,{projectId:window.location.href.split("/")[5],fileId:res.object.id});

                    var tr = fileListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span>'+res.object.uploadTime+'</span>');
                    tds.eq(3).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(4).html('<a class="layui-btn layui-btn-xs" href="/file/'+res.object.id+'">下载</a>\n' +
                        '<button class="layui-btn layui-btn-xs layui-btn-danger file-delete" id="'+res.object.id+'">删除</button>');
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                var tr = fileListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(3).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(4).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

        var body=$('body');

        $(body).on('click','.file-delete',function(e){
            var tr=$(this).parent('td').parent('tr');
            $.ajax({
                type:'get',
                url:'/file/delete',
                data:'id='+$(this).attr('id'),
                dataType:'json',
                success:function(data){
                    if (data.statusCode==='200') {
                        $(tr).remove();
                        if (fileListView.children().length===0)
                            $('#fileHint').removeAttr('style');
                    } else
                        layer.msg(data.msg);
                }
            })
        });
    });

</script>
</body>
</html>
